body{
    background-color: grey;
}

h1{
    margin: 0;

}

#container{
    background-color:wheat;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: darkslategrey;
    font-size: larger;
    color:white;
    text-align: center;
}


#mid-section{
    padding:10px;
}

#nav{
    width:180px;
    float: left;
    color:darkblue;
}

#nav ul{
    list-style-type:none;
    padding:0px;
    margin: 10px 0px;
}

#nav ul li{

    margin: 20px 0px;
}

#btn{
    background-color: wheat;
    color:darkblue;
}

#content{
    width:600px;
    float: right;
}

#footer{
    clear:both;
    text-align: right;
    background-color: darkslategrey;
    color: white;
}