<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>口羊咩||不会编程的混音师不是一个好会计</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
        <div id="container">
            <div id="header"> 口羊咩||不会编程的混音师不是一个好会计</div>
            <div id="mid-section">
                <div id="nav">
                    <h3>口羊咩</h3>
                    <ul>
                        <li>主页</li>
                        <li>简介</li>
                        <li>博文</li>
                        <li>小工具</li>
                    </ul>
                </div>

                <div id="content">
                    <h2>标题</h2>
                    <p>主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容</p>
                    <p>主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容</p>
                    <p>主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容</p>
                    <p>主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容</p>
                    <p>主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容主要内容</p>
                </div>
            </div>

            <button id="btn", type="button", onclick="LeaveMessage()">enter message</button>
            <div id="footer">
                Copyright &copy; 2017 口羊咩
            </div>

        </div>

    </div>


<script>
    function LeaveMessage(){
        input_message = prompt("Leave your message");
        alert("Your message is: " + input_message);
        alert("Message Send.");
    }

</script>

</body>
</html>